# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Testing results, only used for comparison
test-results

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist

# IDE
.idea